<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.bdyr">
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/bdy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bdy"
        android:supportsRtl="true"
        android:theme="@style/Theme.BDYR"
        tools:ignore="AllowBackup">
        <activity
            android:name=".Activities.AddEvent"
            android:exported="false" />
        <activity
            android:name=".Activities.HomeScreen"
            android:exported="false"
            android:label="Birthday Reminder" />
        <activity
            android:name=".Activities.splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>